.site-footer {
    font-size: 14px;
    color: #ffffff;
    background-color: #000000;
}

.site-footer a {
    color: #ffd700;
}

.site-footer a:hover {
    text-decoration: underline;
    color: #ffed4e;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.content-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}
