.navbar-brand {
    font-size: 1.4rem;
    color: #ffd700 !important; /* Золотой бренд */
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
    margin-left: 15px;
    transition: 0.2s;
    color: #f5f5f5 !important;
}

.nav-link:hover {
    color: #ffd700 !important; /* Золотой hover */
}

.fixed-top {
    background-color: #000000cc; /* Полупрозрачный черный */
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.navbar .dropdown-menu {
    z-index: 2000;
    background-color: #2c2c2c;
    border: 1px solid #444;
}

.navbar .dropdown-item {
    color: #f5f5f5;
}

.navbar .dropdown-item:hover {
    background-color: #444;
    color: #ffd700;
}
